$bg-color: seagreen;
$default-font: arial,
verdana;
body {
    background-color: $bg-color;
    font-family: $default-font;
    box-sizing: border-box;
    font-size: 13px;
    background: red;
}

h1 {
    background: red;
}